/* タブ関連 areaの装飾も入ってます */

header{
    height: 70px;/*高さ指定*/
     width:100%;/*横幅指定*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: aquamarine;
    color:#fff;
    text-align:center;
}
header.fixed{
    position: fixed;/*fixedを設定して固定*/
      z-index: 999;/*最前面へ*/
      top:0;/*位置指定*/
      left:0;/*位置指定*/
  }
/*
.popup-content{
    display: none;
}
*/
.tab{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 0 0 0 0;
}

.tab li{
    list-style: none;
}

.tab li a{
    text-decoration: none;
    display: block;
    background: #ddd;
    margin: 0 2px;
    padding: 10px 20px;
}

.tab li.active a{
    background: #fff;
}

.area{
    display: none;
    opacity: 0;
    background-color: #fff;
    padding: 50px 20px;
}

.area.is-active{
    display: block;
    animation-name: displayAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
