.msr_h103{
  background:aquamarine;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px 0px;
  box-sizing: border-box;
  color: #100f0f;
  font-size: 30px;
  margin: 0 0 20px;
  text-align:center;
  padding:20px 0;
  position: relative;
  width: 100%;
}


dl{
    width:50%;
    margin: 0 auto;
   }
   dt{
    border-bottom:1px solid #ccc;
     float:left;
     padding:10px 5px;
   }
   dd{
    border-bottom:1px solid #ccc;
     margin-left:100px;
     padding:10px 5px;
   }
   a{
     background-color:red;
     border-radius:5px;
     color:#fff;
     margin:0 20px;
     padding:5px 15px;
     text-decoration:none;
   }
   